<!DOCTYPE html>
<html>
<head>
    <title>{{=config.title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='css/main.css' />

    <script type="text/javascript" src='js/{{=config.lib.jquery}}/jquery.js'></script>
    <script type="text/javascript" src='js/{{=config.lib['jquery-plugins']}}/validation.min.js'></script>
    <script type="text/javascript" src='js/crypto.min.js'></script>

    <script type="text/javascript" src='js/appcache.js'></script>
    <script type="text/javascript" src='js/os.js'></script>
    <script type="text/javascript" src='js/workflow.js'></script>
</head>
<body>
{{- body }}
</body>
</html>
