<div data-role="page" style="visibility:hidden">
    <div data-role="header">
        <a href="/" data-role="button" data-inline="true" data-icon="home" data-iconpos="left" class="ui-btn-right"
           data-theme="b">Home</a>

        <h2>{{= app.config.brand }}</h2>
    </div>
    <div data-role="content">
        <div class="ui-body ui-body-e ui-shadow ui-corner-all" style="text-align: center; margin-top:3em;">
            <p>We are unable to find the study you are looking for. <br>Please <a href="javascript:window.history.back()" style="text-decoration: none">go back</a> and check that you have entered the correct study ID.</p>
        </div>
    </div>
</div>
