<div id='Page_{{=form.id}}' data-form='{{=form.id}}' data-role='page' data-theme='{{=config.theme.global}}' style='visibility:hidden'
     data-preview='true'>
    {{ if (!mobile) { }}
    <div class='s-header-top'>
        <div data-role='header' data-theme='{{=config.theme.nav}}' class='ui-corner-bottom'>
    {{ } else { }}
        <div data-role='header' data-theme='{{=config.theme.nav}}'>
    {{ } }}
            <h1>{{=form.title}}</h1>
            <a href="#results" class='ui-btn-right btn-preview btn-next' data-role='button'
               data-theme='{{=config.theme.active}}' data-icon='check' data-rel="dialog"
               data-transition="slidedown">Verify</a>
        </div>
    {{ if (!mobile) { }}
    </div>
    {{ } }}
    <div data-role='content'>
        <script>
            require([
                        'survana'
                    ],
            function(Survana)
            {
                //dependencies
                {{ if (dep_js) { }}
                    Survana.Depend.register("{{=form.id}}",function(data,changed,all)
                    {
                        {{- dep_js }}
                    });
                {{ } }}

                //validation rules
                {{ if (validation_rules) { }}
                    Survana.Validate.register("{{=form.id}}",{{-JSON.stringify(validation_rules)}});
                {{ } }}

                //bindings
                {{ if (bindings) { }}
                    Survana.Bind.register("{{=form.id}}",{{-JSON.stringify(bindings)}});
                {{ } }}

                $('a.btn-preview').click(function(e) {
                    if (Survana.validate()) {
                        var data=Survana.formToJSON($('#{{=form.id}}'));
                        var text = JSON.stringify(data,null,4);
                        $('#results').find('pre').html(text);
                    } else {
                        Survana.scrollTo($.mobile.activePage.find('.s-error-button:visible').first(), true);
                        e.preventDefault();
                        return false;
                    }

                    return true;
                });
            });
        </script>
        {{- html }}
    </div>
</div>

<div id="results" data-role="dialog" data-theme="a" style="visibility:hidden">
    <div data-role="content">
        <h2>Response Data:</h2>
        <pre class="ui-btn-up-c ui-corner-all" style="padding:5px;font-family:courier;font-size:smaller">

        </pre>
        <a href="#" data-role="button" data-rel="back" data-theme="b" data-inline="true" data-icon="back" style="float:right">Close</a>
    </div>
</div>

    <script type="text/javascript">
        window.canClose = 1;
    </script>
