<!DOCTYPE html>
<html manifest="manifest">
<head>
    <title>{{=config.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href='{{=config.prefix}}js/{{=config.lib['jquery.mobile']}}/jquery.mobile.css' />
    <!--<link rel="stylesheet" href='{{=config.prefix}}css/jquery.mobile.css' />-->
    <link rel="stylesheet" href='{{=config.prefix}}css/jquery.mobile.1.3.0.css' />
    <script type="text/javascript" data-main="{{=config.prefix}}js/app" src='{{=config.prefix}}js/{{=config.lib.require}}/require.js'></script>
    <script type="text/javascript">

        window['study-id'] = "{{= study.id }}";

        requirejs.config({
                             baseUrl:"{{=config.prefix}}js",
                             paths:{{- JSON.stringify(config.to_requirejs())}},
                             shim: {
                                 validate: {
                                     deps: ['jquery']
                                 }
                             }
        });
    </script>
</head>
<body onbeforeunload="if (!window.canClose) return 'Are you sure you want to leave this page? You will lose all your progress.'">
{{- body }}
</body>
</html>
