<!DOCTYPE html>
<html>
<head>
    <title>{{=config.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href='{{=config.prefix}}js/{{=config.lib['jquery-mobile']}}/jquery.mobile.css' />
    <link rel="stylesheet" href='{{=config.prefix}}css/mobile.css' />

    <script type="text/javascript" src='{{=config.prefix}}js/{{=config.lib.jquery}}/jquery.js'></script>
    <script type="text/javascript" src='{{=config.prefix}}js/{{=config.lib['jquery-mobile']}}/jquery.mobile.js'></script>
    <script type="text/javascript" src='{{=config.prefix}}js/{{=config.lib['jquery-plugins']}}/validation.min.js'></script>
    <script type="text/javascript" src='{{=config.prefix}}js/crypto.min.js'></script>

    <script type="text/javascript" src='{{=config.prefix}}js/appcache.js'></script>
    <script type="text/javascript" src='{{=config.prefix}}js/os.js'></script>
    <script type="text/javascript" src='{{=config.prefix}}js/workflow.js'></script>

    <script>
        $(document).on('pageinit pageshow pagehide pagesave',OS_onPageEvent);

        $(document).ready(function(){

            var check=OS_checkPrerequisites();

            if (check!==true)
            {
                window.location.href='unsupported';
                return;
            }

            //fix jQuery/Apple issue with Ajax loading in offline mode
            if (window.navigator.standalone)
                jQuery.ajaxSetup({isLocal:true});

            $(window).bind('orientationchange',OS_onOrientationChanged);
            $.mobile.ignoreContentEnabled=true; //todo: remove me!
        });

    </script>
</head>
<body>
{{- body }}
</body>
</html>
