<div id='Page_{{=form.id}}'
     data-form='{{=form.id}}' data-foo='{{=form.display_title}}'
     {{ if ((form.display_title===undefined) || form.display_title === true || (parseInt(form.display_title)>0)) { }}
        data-title='{{=form.title}}'
     {{ } }}
     {{ if (store) { }}
        data-store='{{= store }}'
     {{ } }}
     data-role='page'
     data-theme='{{=config.theme.global}}'
     style='visibility:hidden'>
    {{ if (!mobile) { }}
    <div class='s-header-top'>
        <div data-role='header' data-theme='{{=config.theme.nav}}' class='ui-corner-bottom'>
    {{ } else { }}
        <div data-role='header' data-theme='{{=config.theme.nav}}'>
    {{ } }}
            {{ if ((form.display_title===undefined) || form.display_title === true || (parseInt(form.display_title)>0)) { }}
                <h1>{{= form.title }}</h1>
            {{ } else { }}
                <h1></h1>
            {{ } }}
            <!--<a href="#" data-role='button' data-theme='{{=config.theme.button}}' data-rel='back' data-icon='arrow-l'
               class='ui-btn-left btn-back'>Back</a>-->
            <a data-role='button' data-theme='{{=config.theme.active}}' data-icon='check'
               class='ui-btn-right btn-save' style="display:none">Finish</a>

            <a href="#" data-role='button' data-theme='{{=config.theme.active}}' data-icon='arrow-r'
               class='ui-btn-right btn-next'>Next</a>
        </div>
    {{ if (!mobile) { }}
    </div>
    {{ } }}
    <div data-role='content'>
        <script>
            require([
                        'survana'
                    ],
            function(Survana)
            {
                //dependencies
                {{ if (dep_js) { }}
                    Survana.Depend.register("{{=form.id}}",function(data,changed,all)
                    {
                        {{- dep_js }}
                    });
                {{ } }}

                //validation rules
                {{ if (validation_rules) { }}
                    Survana.Validate.register("{{=form.id}}",{{-JSON.stringify(validation_rules)}});
                {{ } }}

                //bindings
                {{ if (bindings) { }}
                    Survana.Bind.register("{{=form.id}}",{{-JSON.stringify(bindings)}});
                {{ } }}

            });

        </script>
        {{- html }}
    </div>

    {{ if (mobile) { }}
        <div data-role='footer' data-theme='{{=config.theme.nav}}'>
            <h1>{{=form.title}}</h1>
            <!--<a href="#" data-role='button' data-theme='{{=config.theme.button}}' data-rel='back' data-icon='arrow-l'
               class='ui-btn-left btn-back'>Back</a>-->
            <a data-role='button' data-theme='{{=config.theme.active}}' data-icon='check'
               class='ui-btn-right btn-save' style="display:none">Finish</a>

            <a href="#" data-role='button' data-theme='{{=config.theme.active}}' data-icon='arrow-r'
               class='ui-btn-right btn-next' data-transition="none">Next</a>
        </div>
    {{ } }}

</div>
