<div id="pageIndex" data-role="page">
    <div data-role="content">
        <script type='text/javascript'>

            //server
            window.localStorage['survana-id']="{{= server_id }}";

            //key
            window.localStorage['key-id']="{{= key.keyID }}";
            window.localStorage['key-pem']={{- JSON.stringify(key.publicKey) }};
            window.localStorage['key-data']=''; //clear cached key data
            window.localStorage['key-bits']="{{= key.bits }}";

            //todo: this is broken
            window.localStorage['study-id']="{{= study.id }}";
            window.localStorage['save-url']="{{- 'id/save' }}";
            window.localStorage['workflow']='{{- JSON.stringify(workflow) }}';
            window.localStorage['workflow-current']=-1;

            //Start the Survey when this page loads

            require(['jquery','survana'],function($,Survana){

                //make sure not to overwrite any existing session information
                if ((typeof(localStorage['session-id'])==="undefined") || !localStorage['session-id'].length)
                {
                    window.localStorage['session-id']='{{=session_id}}';
                    window.localStorage['session']=0;
                    window.localStorage['session-timestamp']='{{= (new Date()).valueOf() }}';
                    window.localStorage['session-timestamp-client']=(new Date()).valueOf();
                }

                $('#pageIndex').on('pageshow',function(){
                    Survana.resume();
                });
            });

        </script>
    </div>
</div>
