<div id="pageIndex" data-role="page">
    <div data-role="content">
        <script type="text/javascript">

            var study_id    = "{{= study.id }}",
                server_info = {
                    'survana-id':           "{{= server_id }}",
                    'key-id':               "{{= key.keyID }}",
                    'key-pem':              {{- JSON.stringify(key.publicKey) }},
                    'key-data':             '', //clear cached key data
                    'key-bits':             "{{= key.bits }}",
                    'store-url':            "{{- store }}"
                },
                session_info = {
                    'session-id':               '{{= session_id }}',
                    'session':                  0,
                    'session-timestamp':        '{{= (new Date()).valueOf() }}',
                    'session-timestamp-client': (new Date()).valueOf(),
                    'workflow':                 '{{- JSON.stringify(workflow) }}',
                    'workflow-current':         -1,
                    'workflow-wrap':            0
                };

            require(['app'], function (App) {
                App.init(study_id, server_info, session_info);
            });

        </script>
    </div>
</div>
