<div id="pageIndex" data-role="page">
    <div data-role="content">
        <script type='text/javascript'>


            window['study-id'] = "{{= study.id }}";

            //Start the Survey when this page loads

            require(['jquery', 'storage', 'survana'],function($, Store, Survana){

                //server
                Store.put({
                    'survana-id':           "{{= server_id }}",
                    'key-id':               "{{= key.keyID }}",
                    'key-pem':              {{- JSON.stringify(key.publicKey) }},
                    'key-data':             '', //clear cached key data
                    'key-bits':             "{{= key.bits }}",
                    'store-url':            "{{- store }}",
                    'workflow':             '{{- JSON.stringify(workflow) }}',
                    'workflow-current':    -1
                });

                //make sure not to overwrite any existing session information
                if (!Store.has('session-id')) {
                    Store.put({
                        'session-id':               '{{= session_id }}',
                        'session':                  0,
                        'session-timestamp':        '{{= (new Date()).valueOf() }}',
                        'session-timestamp-client': (new Date()).valueOf()
                    });
                }

                $('#pageIndex').on('pageshow',function(){
                    Survana.resume();
                });
            });

        </script>
    </div>
</div>
