<!DOCTYPE html>
<html manifest="/manifest">
<head>
    <title>Install</title>
</head>
<body>

<!-- Home -->
<div id='pageInstall' data-role="page" data-theme="{{=config.theme.global}}">
    <div data-role="header">
        <h1>{{=study.title}}</h1>
    </div>

    <div data-role="content">
        <h1>
            Welcome to {{=study.title}}.
        </h1>
        <p>
            You are installing the following questionnaires:
        </p>
        <p>
        <ul data-role="listview" data-inset="true" data-theme="{{=config.theme.content}}">
            {{ for (var f in study.forms) { }}
            {{     var form=study.forms[f]; }}
            <li>
                <h3>{{= form.title }}</h3>
                <p><strong>Author:</strong> {{= form.author||'Unknown' }}</p>
                <p><strong>Date:</strong> {{= (new Date(form.created_on)).toLocaleDateString() }}</p>
                <p class="ui-li-aside"><strong>{{= form.code+'/'+form.version }}</strong></p>
            </li>
            {{ } }}
        </ul>
        </p>
        <br/>
        <hr/>
        <h1>Instructions:</h1>
        <p>
        <p>
        <ol>
            <li>Click on the <strong>Start</strong> button:
                <a id='start' href="#" data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="right">Start</a>
            </li>
            <li>
                <p>Choose <strong>Add to Home Screen</strong> from Safari's toolbar menu:</p>
                <img src="img/bookmark.jpg"/>
            </li>
        </ol>
        </p>

        </p>


    </div>

    <script type='text/javascript'>


        window['study-id'] = "{{= study.id }}";

        //Start the Survey when this page loads

        define(['jquery', 'storage', 'survana'],function($, Store, Survana){

                    //server
                    Store.put({
                        'survana-id':           "{{= server_id }}",
                        'key-id':               "{{= key.keyID }}",
                        'key-pem':              {{- JSON.stringify(key.publicKey) }},
                'key-data':             '', //clear cached key data
                'key-bits':             "{{= key.bits }}",
                'store-url':            "{{- store }}",
                'workflow':             '{{- JSON.stringify(workflow) }}',
                'workflow-current':     -1,
                'workflow-wrap':        1
        });

        //make sure not to overwrite any existing session information
        if (!Store.has('session-id')) {
            Store.put({
                'session-id':               '{{= session_id }}',
                'session':                  0,
                'session-timestamp':        '{{= (new Date()).valueOf() }}',
                'session-timestamp-client': (new Date()).valueOf()
            });
        }

        $('#pageIndex').on('pageshow',function(){
            Survana.resume();
        });
        });

    </script>
</div>
</body>
</html>
