<!DOCTYPE html>
<html manifest="/manifest">
<head>
    <title>Install</title>
</head>
<body>

<!-- Home -->
<div id='pageInstall' data-role="page" data-theme="{{=config.theme.global}}">
    <div data-role="header">
        <h1>{{=study.title}}</h1>
    </div>

    <div data-role="content">
        <h1>
            Welcome to {{=study.title}}.
        </h1>
        <p>
            You are installing the following questionnaires:
        </p>
        <p>
        <ul data-role="listview" data-inset="true" data-theme="{{=config.theme.content}}">
            {{ for (var f in study.forms) { }}
            {{     var form=study.forms[f]; }}
            <li>
                <h3>{{= form.title }}</h3>
                <p><strong>Author:</strong> {{= form.author||'Unknown' }}</p>
                <p><strong>Date:</strong> {{= (new Date(form.created_on)).toLocaleDateString() }}</p>
                <p class="ui-li-aside"><strong>{{= form.code+'/'+form.version }}</strong></p>
            </li>
            {{ } }}
        </ul>
        </p>
        <br/>
        <hr/>
        <h1>Instructions:</h1>
        <p>
        <p>
        <ol>
            <li>Click on the <strong>Start</strong> button:
                <a id='start' href="#" data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="right">Start</a>
            </li>
            <li>
                <p>Choose <strong>Add to Home Screen</strong> from Safari's toolbar menu:</p>
                <img src="img/bookmark.jpg"/>
            </li>
        </ol>
        </p>

        </p>


    </div>

    <script type='text/javascript'>

        var study_id = "{{= study_id }}";

        //server
        window.localStorage[study_id + '-survana-id']="{{= server_id }}";

        //key
        window.localStorage[study_id + '-key-id']="{{= key.keyID }}";
        window.localStorage[study_id + '-key-pem']={{- JSON.stringify(key.publicKey) }};
        window.localStorage[study_id + '-key-data']=''; //clear cached key data
        window.localStorage[study_id + '-key-bits']="{{= key.bits }}";

        //todo: this is broken
        window.localStorage[study_id + '-store-url']="{{- store }}";
        window.localStorage[study_id + '-workflow']='{{- JSON.stringify(workflow) }}';
        window.localStorage[study_id + '-workflow-current']=-1;

        //Start the Survey when this page loads

        require(['jquery','survana'],function($,Survana){

            //make sure not to overwrite any existing session information
            if ((typeof(localStorage[study_id + '-session-id'])==="undefined") || !localStorage[study_id + '-session-id'].length)
            {
                window.localStorage[study_id + '-session-id']='{{= session_id }}';
                window.localStorage[study_id + '-session']=0;
                window.localStorage[study_id + '-session-timestamp']='{{= (new Date()).valueOf() }}';
                window.localStorage[study_id + '-session-timestamp-client']=(new Date()).valueOf();
            }

            $('#start').click(function(){
                Survana.resume();
            });
        });

    </script>
</div>
</body>
</html>
